/* font-family: "LatoLight"; */
@font-face {
	font-family: "LatoLight";
	src: url("../fonts/LatoLight/LatoLight.eot");
	src: url("../fonts/LatoLight/LatoLight.eot?#iefix")format("embedded-opentype"),
	url("../fonts/LatoLight/LatoLight.woff") format("woff"),
	url("../fonts/LatoLight/LatoLight.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}




