*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
.hidden {
	display: none;
}

body {
	font-family: "LatoRegular", sans-serif;
	font-size: 16px;
	line-height: 1.5;
	position: relative;
}

h2 {font-size: 2.0em;
	line-height: 1.6;
	text-align: center;
	margin-bottom: 60px;
}

.top-header {
background: #000 url('../images/top-header.jpg') no-repeat;
min-height:600px;
-webkit-background-size: cover;
-moz-background-size: cover;
-ms-background-size: cover;
-o-background-size: cover;
background-size: cover;
position: relative;
}

/* .top-header:before 
{
content:"";
position: absolute;
top:0; left:0;
width:100%;
height:100%;
background-color: rgba(0, 0, 0, 0.40);
} */

.header-text {
	margin: 20% 0;color: #fff;
}

.header-title {
font-size: 3.750em;
line-height: 1.8;
}
.header-deskr {
font-size: 1.250em;
}

.header-button {
text-align: center;
margin: 40px;
}
.header-button a {
	display: block;
	width: 210px;
	height: 40px;
	line-height: 40px;
box-shadow: 0 1px 2px 1px #2377cc;
border-bottom: 2px solid #2377cc;
color: #fff;
background-color: #5e95cd;
-webkit-transition: all .25s linear;
-moz-transition: all .25s linear;
transition: all .25s linear;
}
.header-button a:hover {
border-bottom: 2px solid #1367bc;
box-shadow: 0 1px 2px 1px #0357ac;	
}
/* .header-pic {
	position: relative;
	padding-bottom: 0;
	bottom: 0;

} */

.header-pic {
	margin:180px auto 0 auto;

 padding-bottom: 0;
	}

.header-img {
padding-bottom: 0;

}
.header-img img
{
max-width: 100%;
height: auto;
}

.block-padd {
	padding: 80px 0;
}

/* 3 причины */
.block-rision{
	padding: 5px 3px 20px 3px;

}

.rision-ico {
margin: 7px auto 35px auto;
width: 55px;
height: 55px;
text-align: center;
line-height: 55px;
border-radius: 50%; color: #e8776b;
/* border-radius: 50%;
border: 2px solid #eaeaea;  */
}

.rision-title {
font-size: 1.125em;
text-align: center;
font-weight: 600;
margin: 20px 0;

}
.rision-text {
font-size: 0.875em;
text-align: justify;
margin: 0 5px;
color: #aaaaaa;
margin-bottom: 20px;

}
/*блок wells*/ 
.block-wells {
	padding: 30px 0;
	background-color: #e8776b;
}

.wells {
margin-top: 10px;

font-size: 1.500em;
color: #fff;
}

.well-button {
	padding-right: 5px;
}
.well-button a {
	text-align: center;
	display: block;
	font-size: .9em;
	padding: 18px 25px;
	color: #fff;
	border:1px solid #fff;
border-radius: 10px;
-moz-transition: all .75s ease;
-webkit-transition: all .75s ease;
transition: all .75s ease;
}
.well-button a:hover{
	box-shadow: inset 0 0 5px 1px #fff;}

	/* блок с маком*/

.block-mac {
background-color:#5e95cd;
	}
	.block-mac img {
		width: 100%;
		height: auto;
	}

.block-mac .rision-title, .block-mac .rision-text 
{
	color: #fff;
}
.block-mac .rision-title {
margin: 0; }
.block-mac .rision-text {
	margin-top: 10px;}

/* блок с ценами */
.block-price .col-md-4 {
	margin: 0; padding: 0;
}
.block-price {
text-align: center;	
}
.price {
	width: 100%;
	border: 1px solid #e1e1e1;
}
.price-title {
	background-color: #e1e1e1;
color:#999999;
font-size: 1.125em;
padding: 20px 0;
}

.price-number {
color: #e8776b;
font-size: 1.875em;
padding: 40px 0;
}
.price-color {
background-color: #eeeeee;
}
.price-w {
	color:#999999;
	font-size: 0.8em;
	padding: 20px 0;
}

.price-best {
	background-color: #e8776b;
	color: #fff;
}
.price-button {
	padding: 25px 0;
}
.price-button a {
	margin: 0 auto;
	display: block;
	  border-radius: 5px;
	font-size: 1em;
	width: 210px;
	height: 50px;
	line-height: 50px;
	background-color: #e8776b;
	text-align: center;
	color: #fff;
	border-bottom: 1px solid #e84e3c;
	-moz-transition: all .75s ease;
-webkit-transition: all .75s ease;
transition: all .75s ease;
}
.price-button a:hover {
background-color: #e84e3c;
	border-bottom: 1px solid #e84e3c;
}

/* форма подписки */

.block-sub {
	padding: 30px 0 50px;
	background: #000 url('../images/top-header.jpg') no-repeat;
	-webkit-background-size: cover;
-moz-background-size: cover;
-ms-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
.block-sub .wells {
	text-align: center;
}




.form-calling {
margin-top: 30px;
font-size:.875em;
-webkit-transition: all 0.5s else;
-moz-transition: all 0.5s else;
transition: all 0.5s else;
}


.form-calling input, .form-calling .get-buttons{
display:block;border-radius: 5px;
width:90%;
height:45px;
line-height: 45px;
background-color:#fff;
color: #aaaaaa;
text-indent:10px;
padding:10px 0;
margin:10px auto;
border: 0;
-webkit-transition:all .5s ease;
transition:all .5s ease;
font-size:1.25em;
}
.form-calling input:hover{
background-color:#aaaaaa;
color: #fff;
}
.form-calling .get-buttons{
width:50%;
line-height: 0;
background-color: #3581cc;
text-align: center;
color: #fff;
}

.form-calling .get-buttons:hover{
background-color: #5e95cd;
}




/* начало оформления футера*/

.social-icons {
margin:0 auto;
padding:0;
}
.social-icons ul
 { margin:0;
padding:0;
list-style-type: none;
text-align: center;
}
.social-icons ul li {
 margin-left:9px;
 display: inline-block;
 }
.social-icons ul li a {
display: block;
width:45px;
height:45px;
border-radius:50%;
color:#fff;
line-height: 45px;
text-align: center;
font-size: 1em;
border:2px solid #fff;
-o-transition:all 1.25s ease;
-webkit-transition:all 1.25s ease;
-moz-transition:all 1.25s ease;
transition:all 1.25s ease;
 }
.social-icons ul li a:hover {
color:#fff;

border:2px solid #fff;
-moz-transform:scale(1.2);
-webkit-transform:scale(1.2);
transform:scale(1.2);
}


/*стили кнопки наверх*/
.top {
position: fixed;
bottom: 20px;
right: -120px;
width: 50px;
height: 50px;
border-radius: 50%;
background-color:rgb(21, 164, 250);
cursor: pointer;
text-align: center;
opacity: .3;
z-index: 3;
-webkit-transition: all 0.5s ease;
-moz-transition:all 0.5s ease; 
transition: all 0.5s ease;
}

.top .fa {
color: #fff;
font-size: 2em;
margin-top: 6px;
}

.top:hover {
opacity: 1;
} 

.top.active {
right: 30px;
}
























