@import '_var.scss';
@media (min-width: 737px) {
  .container { width: 100%;  margin: 0 auto; }
}
@media (min-width: 768px) {
  .container {width: 750px; margin: 0 auto; }
}
@media (min-width: 800px) {
  .container { width: 780px;  margin: 0 auto;}
}
@media (min-width: 992px) {
  .container { width: 970px; margin: 0 auto; }
}
@media (min-width: 1024px) {
  .container { width: 1004px; margin: 0 auto; }
}
@media screen and (min-width: 1080px) {
  .container { width: 1060px;  margin: 0 auto; }
}
@media only screen and (min-width : 1190px) {
  .container { width: 1170px;  margin: 0 auto;}
}
@media only screen and (min-width : 1200px) {
  .container {width: 1170px;  margin: 0 auto;}
}

/* ниже размещено стили оформления наполнения шаблона в
зависимостиь от разрешения, в документ были вклюены все разрешения
не зависомо от требования заказчика  */

@media only screen and (max-width : 1440px) {

}
/*важное разрешение 1280 */
@media only screen and (max-width : 1280px) {

}

@media only screen and (max-width : 1200px) {

}

@media only screen and (max-width : 1190px) {

}

/*важное разрешение 1080*/
@media screen and (max-width: 1080px) {
.top-header {
    background-position: 88% bottom, top center}
}

/*важное разрешение 1024 */
@media only screen and (max-width: 1024px) {
.block-mac .rision-text {
   margin-left: 10px;
}

}


@media only screen and (max-width: 992px) {

}
/*важное разрешение 800 */
@media only screen and (max-width: 800px) {
.header-text { margin: 9% 0 39% 0;}
.wells { text-align: center;   margin-bottom: 20px;}
.well-button {text-align: center;}
.well-button a { display: inline-block; padding: 18px 35px;}
.block-mac .rision-title {margin-top: 20px;}
.price { margin-bottom: 20px;}
p.iner-text {padding: 0; margin-left: 200px;font-size: 1.0em;}
.owl-theme .owl-nav.disabled + .owl-dots {margin-top: 0px;}
}
/*важное разрешение 768 */
@media only screen and (max-width: 768px) {



}
/* end  (max-width: 768px) */
@media only screen and (max-width: 740px) {

}

@media only screen and (max-width: 736px) {
}

@media only screen and (max-width: 734px) {
}

@media only screen and (max-width: 684px) {
}

@media only screen and (max-width: 667px) {
}

@media only screen and (max-width: 640px) {
}

/*важное разрешение 600 */
@media only screen and (max-width: 600px) {
.header-button {margin: 0 4px;}
.header-text { margin: 9% 0 50% 0;}
.top-header {background-position: 94% bottom, top center;}
.header-deskr {font-size: 1.07em;}
.block-padd {padding: 40px 0;}
}

@media only screen and (max-width: 568px) {
}

/*важное разрешение 480 */
@media only screen and (max-width: 480px) {
.top-header {min-height: 520px;background-size: 227px 282px, cover;}
.header-deskr {font-size: 1.250em;margin-bottom: 49px;}
.header-deskr {font-size: 1.15em;}
.rision-title { margin: 10px 0 20px 0;}
.rision-ico {margin: 7px auto 20px auto;}
.wells {font-size: 1.4500em;}
.well-button a {font-size: 1.00em; padding: 11px 35px;}
    .inner-test > img {float: none;margin:0 auto;}
p.iner-text {padding: 0;margin-left: 0;}
.block-one-example {margin: 0 0 30px 0;}
.form-calling {margin-top: 0px;}
.forms-calldecor {max-width: 460px;}
.forms-calldecor h5 {margin-bottom: 18px;}
.forms-calldecor input {height: 35px;line-height: 35px;}











}

@media only screen and (max-width: 425px) {
}

@media only screen and (max-width: 414px) {
}

@media only screen and (max-width: 412px) {
}

@media only screen and (max-width: 384px) {
}

@media only screen and (max-width: 375px) {
}

@media only screen and (max-width: 360px) {
}

@media only screen and (max-width: 320px) {
}